h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Determinar la institucionalidad y los principios rectores de la productividad y la competitividad de acuerdo a la política nacional y a la planeación estratégica organizacional.