h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Productividad en el marco estratégico de la organización', 'main.html#page/productividad/')
                    +navTemaItem('2', 'La competitividad como política pública', 'main.html#page/competitividad/')
                    +navTemaItem('3', 'Planeación estratégica', 'main.html#page/planeacion/')
                    +navTemaItem('4', 'Componentes del marco estratégico de la organización', 'main.html#page/componentes/')
                    +navTemaItem('5', 'Conclusión', 'main.html#page/conclusion/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')