.container#planeacion

    .header-ecored

        h1 3. Planeación estratégica

    .row.mx-0
        
        .col-12

            p La planeación estratégica es un proceso de gestión que utiliza la empresa para definir las actividades que se van a desarrollar para dar cumplimiento a los objetivos institucionales y llegar de la misión a la visión.

        .col-12.mb-3

            section
                a(href="https://tecnoviolone.com/general/todo-sobre-la-planificacion-estrategica/" target="_blank").media-link
                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p Todo sobre la planificación estratégica
        
        .col-12

            p La planeación estratégica comienza con la elaboración del diagnóstico interno y externo de la empresa, una metodología muy utilizada para este análisis es la matriz DOFA o FODA.

        .col-12.recuadro2.mx-3

            p.m-0.text-decoration1 "
                b La matriz DOFA 
                | (también conocida como matriz FODA, matriz DAFO o análisis SWOT en inglés), es una herramienta utilizada para la formulación y evaluación de estrategia. Generalmente es utilizada para empresas, pero igualmente puede aplicarse a personas, países, etc."

        .col-12.text-center.mt-5

            img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 60%")

    .row.mx-0.justify-content-center

        .col-4.my-4

            section
                a(href="https://degerencia.com/articulo/que-es-la-matriz-dofa-foda-o-dafo/" target="_blank").media-link
                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p Matriz DOFA

    .row.mx-0

        .col-12

            p
                b El análisis interno 
                | consiste en el estudio de los diferentes aspectos o elementos que puedan existir dentro de una empresa, con el fin de conocer el estado o la capacidad con que ésta cuenta, y detectar sus fortalezas y debilidades.

            p Para el análisis interno de la empresa se debe realizar un análisis de los componentes: Financieros, Materiales, tecnológicos y talento humano como recurso principal en la interacción de los procesos.

            p
                b El análisis externo 
                | consiste en detectar y evaluar acontecimientos y tendencias que sucedan en el entorno de la empresa, con el fin de conocer la situación del entorno, y detectar oportunidades y amenazas”.

            p Para definir un análisis externo se debe evaluar aspectos sociales, gubernamentales y tecnológicos que afectan de forma positiva y negativa a la empresa, estos aspectos no se pueden solucionar desde el interior de la compañía.

            p
                b Después de realizar el diagnóstico interno y externo de la empresa se procede a realizar el marco estratégico de acuerdo a los siguientes componentes.