.container#conclusion

    .header-ecored

        h1 5. Conclusión
    
    .row.mx-0

        .col-12

            p Con el avance de la globalización hablar de productividad y competitividad permite asimilar el proceso que a diario debe llevar la empresa con el objetivo de obtener un mejor desempeño frente a las economías nacionales y mundiales. En la actualidad una organización que fortalezca su institucionalidad brinde excelentes propuestas de bienes y servicios, e implemente un buen sistema para el seguimiento y cumplimiento de su marco estratégico, se convierte en una empresa competitiva y de gran alcance en un futuro.
    
        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%")