.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Objetivos:
            | fin o propósito al cual desea llegar o alcanzar una organización. 
        p
            strong.mr-2 Estrategia:
            | actividades propuestas por la organización para dar cumplimiento a los objetivos institucionales.
        p
            strong.mr-2 Glosario:
            | incorpore aquí las definiciones de los términos claves, requeridos para comprender adecuadamente los contenidos de este recurso educativo.
        p 
            strong.mr-2 Plan:
            | documento de actividades planeadas a realizar para dar cumplimiento a metas y objetivos.
        p
            strong.mr-2 Proceso:
            | conjunto de actividades o tareas interrelacionadas entre sí para realizar o alcanzar un objetivo.
        p
            strong.mr-2 Política:
            | proceso de tomar decisiones que se aplican a todos los miembros de una empresa.
        p 
            strong.mr-2 Pymes:
            | pequeñas y medianas empresas.