.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td Guía metodologica para el diseño de planes estratégicos en el sector público
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_guia_metodologica_planes_estrategicos_sector_publico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Las pymes en Colombia y las barreras para su desarrollo y perdurabilidad
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_guia_metodologica_planes_estrategicos_sector_publico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar