include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Gerencie.com (2017, 19 octubre)", "https://www.gerencie.com/planeacion-estrategica.html")

        +referenciaItem("Ibarra Cisneros, Manuel Alejandro, González Torres, Lourdes Alicia, & Demuner Flores, María del Rosario. (2017). Competitividad empresarial de las pequeñas y medianas empresas manufactureras de Baja California. Estudios fronterizos, 18(35), 107-130.", "https://dx.doi.org/10.21670/ref.2017.35.a06")

        +referenciaItem("Romero, L. E. (2006, 31 julio). COMPETITIVIDAD Y PRODUCTIVIDAD en empresas familiares pymes Una aproximación desde la interacción familia-empresa. Revista Escuela de Administración de Negocios.", "https://journal.universidadean.edu.co/index.php/Revista/article/view/378")

        +referenciaItem("Roncancio, G. (2018, 24 mayo). ¿Qué es la Planeación Estratégica y para qué sirve?", "https://gestion.pensemos.com/que-es-la-planeacion-estrategica-y-para-que-sirve.")

        +referenciaItem("W. (2018, 12 enero). Competitividad y productividad en las PYMES. Wilsoft Latinoamericana.", "http://www.wilsoft-la.com/competitividad-y-productividad-en-las-pymes/")